*.log
*.synctex(busy)
*.aux
*.lof
*.lot
*.toc
*.synctex
*.synctex.gz
*.bak
*.bbl
*.blg
*.pdf
*.fdb_latexmk
*.fls
*.xdv
chapters/*.baklog
citations/*.tex
*.pptx
.vscode
graphs/non_eps_image/.directory


